html {
    background-color: #EDE8D6;
    padding:0px;
    margin: 0px;
    font-size: 20px;
}

.toolbar{
    background-color: #5B515B;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
    position: fixed;
    max-width: 15%;
}
.quiz,.tools_and_techniques{
    margin-top: 80%;
    padding: 0;
    max-width: 100%;
    max-height:20%;
}
.secondary_header{
    color:#5B515B;
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
}

p{
    color:#5B515B;
    font-family: 'Open Sans', sans-serif;
}
/*homepage*/
.header{
    color:#5B515B;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 40px ;
    text-align: center;
}
.icon{
    width: 70px;
    vertical-align: middle;
    display: inline;
    position: relative;
}
.header_box{
    text-align: center;
    margin-left: 13.5%;
}

.homepage_art{
    width: 40%;
    vertical-align: middle;
    position:relative;
    left: 33.5%;
}

.homepage_textbox{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
}
